@import 'variables';

body {
  background: $light-grey;
  margin: 0;
  main {
  	width: 80%;
  	margin: 5em auto;
  }
  section {
  	display: inline-block;
  	position: relative;
  	margin: 0 2.6em;
  	padding: 0;
  	.backPic {
  		display: none;
  	}
  	.picTitle {
  		position: absolute;
  		top: 15.75em;
  	}
  	.price {
  		position: absolute;
  		left: 14.5em;
  		top: 15.75em;
  	}
  }
}
